/* import start */
@import "_normalize.scss";
/* import start */

/* variables start */
$bgPage: #2f3741;
$bgButton: #c1aa94;
$bgButtonHover: #1a7749;
$lightBlue: #b9cbdd;

$rangeTrack: #1a7749;
$rangeMarker: #c1aa94;

:root {
    --blur_value: 0px;
    --invert_value: 0%;
    --sepia_value: 0%;
    --saturate_value: 100%;
    --hue_value: 0deg;
}
/* variables start */


/* common start */
canvas {
    border: none;
    box-shadow: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font: 18px / 1.5 sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: $bgPage;
}

:not(:root):fullscreen::backdrop {
    background-color: $bgPage;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

button {
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
/* common end */

/* header start */
.header {
    padding: 30px 0;
    border-bottom: 1px solid #fff;

    .header__logo {
        margin: 0;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }

    .wrapper {
        position: relative;
        z-index: 1;
    }

    .full__screen {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 3px;
        background: url(../img/fullScreen.svg) no-repeat center center;
        background-size: contain;
        background-color: #1a7749;

        &:hover {
            background-color: #10b864;
        }
    }

    .active__rull__screen {
        background: url(../img/minScreen.svg) no-repeat center center;
        background-size: contain;
        background-color: #1a7749;
    }
}
/* header end */


/* main content start */
.top__content {
    padding: 60px 0;
    overflow: hidden;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.controls__block {
    width: 40%;
}

.photos__block {
    width: 55%;
}

.title {
    margin: 10px 0 20px;
    font-size: 26px;
}

.one__filter__settings {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;

    input {
        display: block;
        text-align: center;
    }

    input[type="number"] {
        width: 60px;
        padding: 12px 5px;
        border: 1px solid $lightBlue;
        color: $lightBlue;
        background-color: transparent;
        outline: none;

        &::-webkit-input-placeholder {
            color: $lightBlue;
        }
    }

    input[type="range"] {
        width: 100%;
        height: 8px;
        border-radius: 3px;
        background: linear-gradient(to right, #1a7749 0%, #1a7749 0%, #b9cbdd 0%, #b9cbdd 100%);
        transition: background 450ms ease-in;
        outline: none;
        -webkit-appearance: none;

        &::-webkit-slider-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            -webkit-appearance: none;
            cursor: ew-resize;
            background-color: $rangeMarker;
        }
    }
}

.control__label {
    display: block;
    width: calc(100% - 80px);

    span {
        display: block;
        margin-bottom: 8px;
        font-size: 20px;
        color: $lightBlue;
    }
}

.photos__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .item {
        position: relative;
        z-index: 1;
        display: block;
        flex: 0 1 24.5%;
    }

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        z-index: -1;
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

.one__btn {
    display: block;
    width: 100%;
    padding: 10px;
    font: 18px / 1 sans-serif;
    border-radius: 3px;
    color: #fff;
    background-color: $bgButton;

    &:hover {
        background-color: $bgButtonHover;
    }
}

.photo__item {
    display: none;
    width: 100%;
    height: 500px;
    align-items: flex-start;
    justify-content: center;

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;

        filter: blur(var(--blur_value)) Invert(var(--invert_value)) sepia(var(--sepia_value))
            saturate(var(--saturate_value)) hue-rotate(var(--hue_value));
    }
}

.active__photo {
    display: flex;
}
/* main content end */


/* footer start */
.footer {
    padding: 20px 0;
    border-top: 1px solid #fff;
    text-align: center;

    .footer__links {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .link__item {
        width: auto;
        height: 50px;

        a {
            display: block;
            height: 100%;
            transition: 0.3s;

            &:hover {
                filter: drop-shadow(0 0 10px #c1aa94);
                transform: translateY(-5px);
            }
        }

        svg,
        img {
            display: block;
            width: auto;
            height: 100%;
            filter: invert(70%);
        }
    }
}
/* footer end */


/*   media   start */
/*     576 - 1150    */
@media screen and (min-width: 576px) and (max-width: 1150px) {
    .wrapper {
        width: 90%;
    }
}
/*     576 - 1150    */


/*     768 - 991    */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* header start */
    .header {
        padding: 20px 0;

        .header__logo {
            font-size: 34px;
        }

        .full__screen {
            width: 40px;
            height: 40px;
        }
    }
    /* header end */

    /* main content start */
    .top__content {
        padding: 40px 0;
    }

    .photos__btns {
        flex-wrap: wrap;

        .item {
            flex: 0 1 48%;
            margin: 1%;
        }
    }

    .photo__item {
        width: 100%;
        height: 400px;
    }
    /* main content end */
}
/*     768 - 991    */


/*     576 - 767    */
@media screen and (min-width: 576px) and (max-width: 767px) {
    /* header start */
    .header {
        padding: 15px 0;

        .header__logo {
            font-size: 35px;
        }

        .full__screen {
            width: 40px;
            height: 40px;
        }
    }
    /* header end */

    /* main content start */
    .top__content {
        padding: 30px 0;

        .wrapper {
            flex-direction: column;
            align-items: center;
        }
    }

    .controls__block {
        order: 2;
        width: 100%;
        padding-top: 0;
    }

    .photos__block {
        width: 100%;
    }

    .one__filter__settings {
        margin-bottom: 20px;

        input[type="number"] {
            padding: 10px 5px;
        }
    }

    .control__label {
        span {
            margin-bottom: 5px;
            font-size: 18px;
        }
    }

    .photo__item {
        height: 400px;
    }
    /* main content end */

    /* footer start */
    .footer .link__item {
        height: 40px;
    }
    /* footer end */
}
/*     576 - 767    */


/*  <    575    */
@media screen and (max-width: 575px) {
    /* common start */
    .wrapper {
        padding: 0 15px;
    }
    /* common end */

    /* header start */
    .header {
        padding: 10px 0;

        .header__logo {
            font-size: 30px;
        }

        .full__screen {
            right: 15px;
            width: 35px;
            height: 35px;
        }
    }
    /* header end */

    /* main content start */
    .top__content {
        padding: 20px 0;

        .wrapper {
            flex-direction: column;
        }
    }

    .controls__block {
        order: 2;
        width: 100%;
    }

    .photos__block {
        width: 100%;
    }

    .title {
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }

    .one__filter__settings {
        margin-bottom: 15px;

        input[type="number"] {
            width: 50px;
            padding: 9px 5px;
            font-size: 16px;
        }

        input[type="range"] {
            height: 6px;

            &::-webkit-slider-thumb {
                width: 25px;
                height: 25px;
            }
        }
    }

    .control__label {
        width: calc(100% - 60px);

        span {
            font-size: 16px;
        }
    }

    .photos__btns {
        flex-wrap: wrap;

        .item {
            flex: 0 1 48%;
            margin: 1%;
        }
    }

    .photo__item {
        height: 300px;
    }
    /* main content end */

    /* footer start */
    .footer {
        .footer__links {
            margin-bottom: 20px;
        }

        .link__item {
            height: 35px;
        }
    }
    /* footer end */
}
/*  <    575    */
/*   media   end */
